

<div class="container-fluid" >
  <div class="row">
    <div class="col-12">
      <div align="center">
        <img width="20%" class="ty-pict cm-image"
             src="https://www.kindpng.com/picc/m/67-672527_royal-level-royal-logo-design-png-transparent.png" alt="Việt Nam"
             title="Việt Nam">
      </div>

    </div>
  </div>
</div>
<br>


<nav style="position: sticky; top: 0; z-index: 50" class="navbar navbar-expand-sm bg-warning navbar-light">
  <div style="width: 100%" class="container-fluid ">
    <div style="width: 100%" class="row ">
      <div style="top:0px" class=" container-fluid col-8 d-flex justify-content-around">
        <div style="width: 100%" class="row">
          <div class="col-12 d-flex justify-content-around button">
            <a routerLink="/home" class="navbar-brand menu"><span style="font-family: 'Times New Roman'">Trang chủ</span></a>
            <a routerLink="/employee" class="navbar-brand menu"><span style="font-family: 'Times New Roman'">Nhân viên</span></a>
            <a routerLink="/customer" class="navbar-brand menu"><span style="font-family: 'Times New Roman'">Khách hàng</span></a>
            <a href="#" class="navbar-brand menu"><span style="font-family: 'Times New Roman'">Dịch vụ</span></a>
            <a href="#" class="navbar-brand menu"><span style="font-family: 'Times New Roman'">Hợp đồng</span></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</nav>
<br>
<br>


