<div class="container fluid">
  <table id="employee">
    <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Id Card</th>
      <th>Salary ($USD)</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Position</th>
      <th>Education</th>
      <th>Division</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Hoàng Đặng Quốc Phú</td>
      <td>13/01/1995</td>
      <td>206897451</td>
      <td>3.000</td>
      <td>0949490493</td>
      <td>hdqphu1301@gmail.com</td>
      <td>Quảng Trị</td>
      <td>Quản Lý</td>
      <td>Đại Học</td>
      <td>Quản lý</td>
      <td>
        <button type="button" class="btn btn-success" routerLink="/edit-customer">Edit</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
          Delete
        </button>

        <!-- Delete Modal -->
        <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Delete Customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Accept</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>Hoàng Đặng Quốc Phú</td>
      <td>13/01/1995</td>
      <td>206897451</td>
      <td>3.000</td>
      <td>0949490493</td>
      <td>hdqphu1301@gmail.com</td>
      <td>Đà Nẵng</td>
      <td>Quản Lý</td>
      <td>Đại Học</td>
      <td>Quản lý</td>
      <td>
        <button type="button" class="btn btn-success" routerLink="/edit-customer">Edit</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
          Delete
        </button>
      </td>
    </tr>

    <tr>
      <td>Hoàng Đặng Quốc Phú</td>
      <td>13/01/1995</td>
      <td>206897451</td>
      <td>3.000</td>
      <td>0949490493</td>
      <td>hdqphu1301@gmail.com</td>
      <td>Đà Nẵng</td>
      <td>Quản Lý</td>
      <td>Đại Học</td>
      <td>Quản lý</td>
      <td>
        <button type="button" class="btn btn-success" routerLink="/edit-customer">Edit</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
          Delete
        </button>
      </td>
    </tr>

    <tr>
      <td>Hoàng Đặng Quốc Phú</td>
      <td>13/01/1995</td>
      <td>206897451</td>
      <td>3.000</td>
      <td>0949490493</td>
      <td>hdqphu1301@gmail.com</td>
      <td>Đà Nẵng</td>
      <td>Quản Lý</td>
      <td>Đại Học</td>
      <td>Quản lý</td>
      <td>
        <button type="button" class="btn btn-success" routerLink="/edit-customer">Edit</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
          Delete
        </button>
      </td>
    </tr>

    <tr>
      <td>Hoàng Đặng Quốc Phú</td>
      <td>13/01/1995</td>
      <td>206897451</td>
      <td>3.000</td>
      <td>0949490493</td>
      <td>hdqphu1301@gmail.com</td>
      <td>Đà Nẵng</td>
      <td>Quản Lý</td>
      <td>Đại Học</td>
      <td>Quản lý</td>
      <td>
        <button type="button" class="btn btn-success" routerLink="/edit-customer">Edit</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>


