<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/277106418_507182930850290_5803947396904567086_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=pyXbObVgd-wAX8VZim8&_nc_ht=scontent.fsgn2-5.fna&oh=00_AT9txnsOR2L36RCl5Bd4NIqN13hlm_lJ9Q_wb116F95xbQ&oe=62540BB0" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading" style="padding-left: 1.8rem">{{ cardName }}</h3>
    <p class="name-card__text" style="padding-left: 1.8rem">{{ email }}</p>
    <p class="name-card__text" style="padding-left: 1.8rem">{{ phone }}</p>
  </div>
</div>
